@defer (when !loading){
  <div class="row">
    <div class="col-md-6">
<!--    formulario  -->
      <form [formGroup]="formJuguetes" ]>
        <div class="form-floating mb-3">
          <input type="text"
          formControlName="nombre"
          class="form-control"
          id="nombre"
          placeholder="entre el nombre">
          <label for="nombre">Nombre</label>
          @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
            @if (nombre.errors['required']) {
              <div class="alert alert-danger">
                El nombre es obligatorio
              </div>
            }
            @if (nombre.errors['minlength']) {
              <div class="alert alert-danger">
                La cantidad minima de caracteres debe ser 1
              </div>
            }
            @if (nombre.errors['maxlength']) {
              <div class="alert alert-danger">
                La cantidad maxima de caracteres debe ser 50
              </div>
            }
            @if (nombre.errors['forbidenName']) {
              <div class="alert alert-danger">
                no se pueden utilizar expresiones tales como:
                xxx 0 XXX - 000
              </div>
            }
            @if (nombre.errors['notOnlyWhiteSpaces']) {
              <div class="alert alert-danger">
                No puede contener espacios ni estar vacio
              </div>
            }

          }
        </div>
        <div class="form-floating mb-3">
          <input type="text"
                 formControlName="categoria"
                 class="form-control"
                 id="categoria"
                 placeholder="entre el categoria">
          <label for="categoria">Categoria</label>
          @if (categoria.invalid && (categoria.dirty || categoria.touched)) {
            @if (categoria.errors['required']) {
              <div class="alert alert-danger">
                La categoria es obligatoria
              </div>
            }
          }
        </div>
        <div class="form-floating mb-3">
          <input type="text"
                 formControlName="imagen"
                 class="form-control"
                 id="imagen"
                 placeholder="entre la imagen">
          <label for="imagen">Imagen</label>
          @if (imagen.invalid && (imagen.dirty || imagen.touched)) {
            @if (imagen.errors['required']) {
              <div class="alert alert-danger">
                La imagen es obligatoria
              </div>
            }
          }
        </div>
        <div class="form-floating mb-3">
          <input type="number"
                 formControlName="edadMinima"
                 class="form-control"
                 id="edadMinima"
                 placeholder="entre la edadMinima">
          <label for="edadMinima">Edad Minima</label>
          @if (edadMinima.invalid && (edadMinima.dirty || edadMinima.touched)) {
            @if (edadMinima.errors['required']) {
              <div class="alert alert-danger">
                La Edad minima es obligatoria
              </div>
            }
            @if (edadMinima.errors['min']) {
              <div class="alert alert-danger">
                La Edad minima es 0
              </div>
            }
            @if (edadMinima.errors['max']) {
              <div class="alert alert-danger">
                La Edad maxima es 125
              </div>
            }

          }
        </div>
        <div class="form-floating mb-3">
          <input type="number"
                 formControlName="precio"
                 class="form-control"
                 id="precio"
                 placeholder="entre el precio">
          <label for="precio">Precio</label>
          @if (precio.invalid && (precio.dirty || precio.touched)) {
            @if (precio.errors['required']) {
              <div class="alert alert-danger">
                El precio es obligatorio
              </div>
            }
          }
        </div>
<!--        button summit-->
        <button type="submit"
        class="btn btn-primary"
        (click)="onSubmit()">
          {{editar? 'Editar Juguete': 'Guardar nuevo Juguete'}}
        </button>

      </form>

    </div>
    <div class="col-md-6">
<!--aqui va a ir la tarjeta-->
      <div class="card shadow">
        <img class="card-img-top"
             [src]="imagen.value" [alt]="nombre.value">
        <div class="card-body">
          <div class="card-title">
            <h4>{{nombre.value}}</h4>
            <p>ID: {{iid.value}}</p>
          </div>
          <div class="card-subtitle">
            <span>{{categoria.value}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <p>Edad Minima: {{edadMinima.value}}</p>
          </div>
        </div>
        <div class="card-footer">
          <h6 class="card-text"> Precio: {{precio.value | currency: 'EUR'}}</h6>
          <div class="justify-content-center">
            <!--                <fa-icon class="text-danger"-->
            <!--                         [icon]="fa"-->
            <!--                         (click)="deleteJuguetes()"></fa-icon>-->
          </div>
        </div>
      </div>
    </div>
  </div>

} @placeholder (){
  <h1>Loading</h1>
}
